<html>
 <body>
  <form action="" method="POST">
    Hi {{ current_user.email }}! Configure how often you would like to receive your periodic report via e-mail!
    {{ form.hidden_tag() }}
    <dl>
     {% for field in form.display %}
     <dt>{{ form[field].label }}</dt>
     <dd>{{ form[field]() }}</dd>
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <p class="help-block">{{ e }}</p>
          {% endfor %}
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <input type=submit value="Set the frequency">
  </form>
 </body>
</html>

